.html {
  width: 1280px;
  height: 800px;
}
::-webkit-scrollbar {
  display: none;
}
.body {
  font-family: Oswald;
  color: #242424;
}

.wrapper {
  display: grid;
  background-color: #242424;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 108px 504px 188px;
}

.header {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;

  grid-column: 1/10;
}
.nav {
  margin-left: 2em;
  font-size: 2em;
}
li {
  padding: 1em;
  display: inline;
}
.sidebar {
  justify-content: center;
  margin-top: 4em;
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/logo_bg.png);

  grid-row: 2/4;
  grid-column: 1/3;
}
#logoname {
  margin-top: 4em;
  font-size: 3em;
  justify-content: center;
  align-self: center;
  color: #f5f5f5;
}
.main {
  display: grid;
  background-image: url(./img/main_bg.jpg);

  grid-column: 3/10;
}
.content {
  background-color: #242424f2;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr 3fr 1fr;
}

.top {
  grid-column: 1/1;
}
.scrollinginfo {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-column: 1/1;
}
.contentone {
  background-color: #35353590;
  grid-column: 2/6;
}
.contenttwo {
  background-color: #35353590;
  grid-column: 7/11;
}
.bottom {
  grid-column: 1/1;
}
.footer {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  color: #f5f5f5;

  grid-column: 3/11;
}
.info {
  margin: 0 10px 10px 0;
  justify-self: flex-end;
  align-self: flex-end;
  grid-column: 2/4;
}
.region {
  margin-top: 30px;
  grid-column: 1/4;
  height: 40px;
  display: inline-flex;
  font-size: 2rem;
}
.download {
  margin-bottom: 10px;
  align-self: flex-end;
  text-align: center;
  width: 300px;
  height: 80px;
  grid-column: 1/2;
  background-color: #353535;
  font-family: Oswald;
  color: #f5f5f5;
  font-size: 45px;
}

.custom-select {
  margin-left: 10px;
  font-size: 0.5em;
  position: relative;
  font-family: Oswald;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #353535;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #242424;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
