* {
  user-select: none;
}

/* 
____________________________
'HTLM'-'HTLM'-'HTLM'-'HTLM'
____________________________ 
*/
.html {
  font-family: Oswald;
  padding: 0;
  min-width: 1280px;
  min-height: 1010px;
}
::-webkit-scrollbar {
  display: none;
}

/* 
____________________________
'HEAD'-'HEAD'-'HEAD'-'HEAD'
____________________________ 
*/

.toolbar {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  background-color: #242424;
}
.toolBtn {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  background-color: #242424 !important;
  color: #f4f4f4;
  font-size: 1em;
}
.nav {
  font-size: 2em;
}

li {
  margin-top: 10px;
  bottom: 0;
  height: 70px;
  line-height: 70px;
  text-align: center;
  margin: auto;
  width: 33.3%;
  float: left;
}
li:hover {
  background-color: #242424;
  color: #f4f4f4;
}
/* 
____________________________
'BODY'-'BODY'-'BODY'-'BODY'
____________________________ 
*/
.sub-nav {
  color: #f4f4f4;
  font-size: 1em;
  display: flexbox;
  position: relative;
  height: 24px;
}

.twitchBtn,
.paypalBtn {
  width: 50%;
  line-height: 24px;
  height: 24px;
  background-color: #242424;
}
.twitchBtn:hover,
.paypalBtn:hover {
  background-color: #f4f4f4;
  color: #242424;
}

.main {
  display: inline-block;
  position: relative;
  width: 1280px;
  max-height: 720px;
  font-family: Oswald;
  color: #242424;
}
.content {
  color: #f4f4f4;
  right: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  height: 720px;
  width: 960px;
}
.c1-header {
  margin-top: 1em;
  height: 1%;
  display: flexbox;
  text-align: center;
}
.contentone {
  width: 320px;
  display: block;
}
p {
  font-family: "Open Sans Condensed", sans-serif;
  margin: 10px;
  font-size: 1.25em;
  font-weight: 100;
  line-height: normal;
}
.biveo {
  user-select: none;
}
.sidebar {
  background-color: #24242480;
  color: #f4f4f4;
  position: absolute;
  display: flex;
  height: 720px;
  width: 320px;
}

:any-link {
  color: aquamarine;
}
:any-link:hover {
  color: #f4f4f4;
}
/* 
____________________________
'FOOT'-'FOOT'-'FOOT'-'FOOT'
____________________________ 
*/
.footer {
  padding: 0px;
  margin-top: auto;
  position: absolute;
  bottom: 0%;
  background-color: #242424;
  display: flex;
  width: 1280px;
  height: 196px;
}
#downloadBtn {
  bottom: 10px;
  margin: 30px;

  position: absolute;
}

.floor-footer {
  width: 70%;
  margin-bottom: 8px;
  align-self: flex-end;
  margin-left: auto;
  margin-right: 20px;
}
#ver {
  display: inline-flex;
  font-family: Oswald;
  color: #f4f4f4;
  margin-left: auto;
  margin-bottom: 35px;
  float: right;
}
