* {
  user-select: none;
}
/* 
____________________________
'HTLM'-'HTLM'-'HTLM'-'HTLM'
____________________________ 
*/
.html {
  font-family: Oswald;
  padding: 0;
  min-width: 1280px;
  min-height: 800px;
}
::-webkit-scrollbar {
  display: none;
}

/* 
____________________________
'HEAD'-'HEAD'-'HEAD'-'HEAD'
____________________________ 
*/

.toolbar {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  background-color: #242424;
}
.toolBtn {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  background-color: #242424 !important;
  color: #f4f4f4;
  font-size: 1em;
}
.nav {
  font-size: 2em;
}
ul {
}

li {
  margin-top: 10px;
  bottom: 0;
  height: 70px;
  line-height: 70px;
  text-align: center;
  margin: auto;
  width: 33.3%;
  float: left;
}
li:hover {
  background-color: #242424;
  color: #f4f4f4;
}
/* 
____________________________
'BODY'-'BODY'-'BODY'-'BODY'
____________________________ 
*/
.sub-nav {
  display: flex;
  height: 24px;
  background-color: #242424;
}
.main {
  justify-content: center;
  display: inline-block;
  background-image: url("../../img/main_bg.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1280px;
  height: 510px;
  font-family: Oswald;
  color: #242424;
}
.content {
  right: 0px;
  left: 0px;
  flex-direction: row-reverse;
  display: flex;
  background-color: #454545a2;
  margin-left: auto;
  position: absolute;

  height: 510px;
  width: 960px;
}
.sidebar {
  justify-content: center;
  align-items: center;
  position: absolute;
  display: flex;
  flex-direction: row;
  background-color: #454545a2;
  margin-right: auto;
  float: left;
  height: 510px;
  width: 320px;
  background-repeat: no-repeat;
  background-position: 20px;
  background-image: url("../../img/Logo_1_smallest.png");
}

/* 
____________________________
'FOOT'-'FOOT'-'FOOT'-'FOOT'
____________________________ 
*/
.footer {
  padding: 0px;
  margin-top: auto;
  position: absolute;
  bottom: 0%;
  background-color: #242424;
  display: flex;
  width: 1280px;
  height: 196px;
}
#downloadBtn {
  bottom: 10px;
  margin: 30px;

  position: absolute;
}

.floor-footer {
  width: 70%;
  margin-bottom: 8px;
  align-self: flex-end;
  margin-left: auto;
  margin-right: 20px;
}
#ver {
  display: inline-flex;
  font-family: Oswald;
  color: #f4f4f4;
  margin-left: auto;
  margin-bottom: 18px;
  float: right;
}
