/* 
____________________________
'HTLM'-'HTLM'-'HTLM'-'HTLM'
____________________________ 
*/
.html {
  user-select: none;
  font-family: Oswald;
  padding: 0;
  min-width: 1280px;
  min-height: 720px;
}
::-webkit-scrollbar {
  display: none;
}

/* 
____________________________
'HEAD'-'HEAD'-'HEAD'-'HEAD'
____________________________ 
*/
.toolContainer {
  position: absolute;
  display: flex;
  margin-left: auto;
  top: 0;
  right: 0;
}
.toolBtn {
  display: inline;
  border: none;

  background: none;
  color: #f4f4f4;
  font-size: 10px;
}
.toolBtn:hover {
  background-color: #f400000d;
}
.nav {
  color: #f4f4f4;
  width: 900 px;
  margin-left: 320px;
  position: relative;

  font-size: 2em;
}

li {
  bottom: 0;
  height: 55px;
  line-height: 50px;
  text-align: center;
  margin: auto;
  width: 19%;
  float: left;
}
li:hover {
  background-color: #24242480;
  color: #f4f4f4;
}
/* 
____________________________
'BODY'-'BODY'-'BODY'-'BODY'
____________________________ 
*/

.main {
  user-select: none;
  position: fixed;
  width: 1280px;
  max-height: 720px;
  font-family: Oswald;
  color: #242424;
}
.content {
  z-index: -1;
  user-select: none;
  color: #f4f4f4;
  right: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  height: 720px;
  width: 960px;
}
.c1-header {
  margin-top: 1em;
  height: 1%;
  display: flexbox;
  text-align: center;
}
.contentone {
  user-select: none;
  width: 320px;
  display: block;
}
p {
  font-family: "Open Sans Condensed", sans-serif;
  margin: 10px;
  font-size: 1.25em;
  font-weight: 100;
  line-height: normal;
}
.biveo {
  position: fixed;
  user-select: none;
}
.sidebar {
  background-color: #24242480;
  color: #f4f4f4;
  position: absolute;
  display: flex;
  height: 720px;
  width: 320px;
}

:any-link {
  color: aquamarine;
}
:any-link:hover {
  color: #f4f4f4;
}
/* 
____________________________
'FOOT'-'FOOT'-'FOOT'-'FOOT'
____________________________ 
*/
.footer {
  margin-left: 25%;
  top: 465px;
  padding: 0px;
  position: relative;
  display: flex;
  width: 1280px;
  height: 196px;
}
#downloadBtn {
  bottom: 10px;
  margin: 30px;

  position: absolute;
}

.floor-footer {
  width: 40%;
  margin-left: 30%;
  margin-bottom: 8px;
  align-self: flex-end;

  margin-right: 20px;
}
#ver {
  display: inline-flex;
  font-family: Oswald;
  color: #f4f4f4;
  margin-left: auto;
  margin-bottom: 35px;
  float: right;
}
